body {
    font-family: "proxima-nova", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "quatro-slab", serif;
}

h1 {
    margin: 1em auto;
    font-size: 5em;
    font-weight: 400;
    color: #27303B;
    text-align: center;
    text-shadow: 1px 1px 8px rgba(30, 37, 46, .15);
}
h1 span {
    font-weight: 600;
}
