body {
    font-family: "proxima-nova", sans-serif;
    line-height: 1.5;
    background: #F5F4EB;
    color: #42454C;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "quatro-slab", serif;
    font-weight: 400;
}

h1 {
    font-weight: 600;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(120, 143, 80, 0.5);
}

h2 strong {
    font-weight: 600;
}

a,
a:visited {
    color: #565796;
}

[data-icon]:before {
    font-family: 'Pictos Custom';
    content: attr(data-icon);
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.l-wrap {
    max-width: 600px;
    margin: auto;
    padding: 0 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.home {
    max-width: 600px;
    margin: 16px auto;
    padding: 15px 16px;
    background: #B8C2A7;
    border: 1px solid #788F50;
    border-left-width: 0;
    border-right-width: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.home img {
    display: block;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.price {
    font-family: "quatro-slab", serif;
    font-size: 1.75em;
    font-weight: 600;
    /*background: #42454C;*/
    color: #788F50;
    text-shadow: 1px 1px 2px rgba(175, 177, 246, 0.5);
    text-align: center;
}

.download {
    text-align: center;
}
.download-button,
.download-button:visited {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    font-size: 1.125em;
    text-decoration: none;
    background: #565796;
    color: #F5F4EB;
    padding: 2px 8px 0;
    border: 1px solid #42454C;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 2px rgba(184, 194, 167, 0.9);
    -moz-box-shadow: 1px 1px 2px rgba(184, 194, 167, 0.9);
    box-shadow: 1px 1px 2px rgba(184, 194, 167, 0.9);
}
.download-button:before {
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
    top: 0px;
}

@media screen and (min-width: 480px) {
    h1 {
        font-size: 3em;
    }

    .price {
        font-size: 2.5em;
    }

    .download-button {
        font-size: 1.5em;
        padding: 2px 12px 0;
    }
    .download-button:before {
        margin-right: 8px;
        top: 1px;
    }
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 4em;
    }

    .home {
        padding: 15px;
        border-left-width: 1px;
        border-right-width: 1px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .price {
        font-size: 3em;
    }

    .download-button {
        font-size: 1.75em;
        padding: 2px 16px 0;
    }
    .download-button:before {
        top: 2px;
    }
}
